$back: rgb(77, 70, 70);
$back-input: rgb(255, 255, 255);
$border-input: rgb(28, 28, 28);

$button: rgb(255, 255, 255);

$list-back: rgb(255, 255, 255);

$li-border: rgb(77, 70, 70);

$naslov-button: rgb(28, 28, 28);
$slova-button: white;

